---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Omos from "../components/omos.astro";
import Values from "../components/values.astro";
import Steder from "../components/steder.astro";
import Faq from "../components/faq.astro";
import Statistics from "../components/statistics.astro";
import Form from "../components/Form.astro";
import Stats from "../components/Stats.astro";
import Citat from "../components/citat.astro";
import Process from "../components/process.astro";
import Footer from "../components/footer.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout />
<main>
  <Omos />
  <Values />
  <Process />
  <Steder />
  <Stats />
  <Form />
  <Faq />
  <Citat />
</main>
<Footer />
