---
import Citat_card from "./citat_card.astro";
---

<article>
  <h2>Frivillige fortæller</h2>
  <div>
    <Citat_card
      image="frivillig1.webp"
      paragraph='"At være frivillig har givet mig en følelse af formål og fællesskab. Jeg kan virkelig se, at mit arbejde gør en forskel"'
    />

    <Citat_card
      image="frivillig2.webp"
      paragraph='"Den oplæring og støtte, jeg fik, gjorde mig tryg i rollen. Jeg følte mig aldrig alene i mit frivillige arbejde"'
    />

    <Citat_card
      image="frivillig3.webp"
      paragraph='"Jeg var i tvivl om, hvor meget tid jeg kunne afsætte, men fleksibiliteten gjorde det nemt at passe ind i min hverdag"'
    />
  </div>
</article>

<style>
  article {
    background-color: #f8f8f8;
    margin-bottom: 100px;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  h2 {
    padding-top: 50px;
    margin-bottom: 0;
  }

  @media (width >= 768px) {
    div {
      flex-direction: row;
      gap: 0;
    }
  }
</style>
