---
const { title, text } = Astro.props;
---

<section class="dropdown">
  <details class="dropdownline">
    <summary class="dropdowntitle">
      {title}
      <span class="plus">+</span>
    </summary>
    <p>{text}</p>
  </details>

  <style>
    .dropdown {
      max-width: 1100px;
      margin: 0 auto;
    }

    .dropdownline {
      border-bottom: 2px solid #5c3d2e;
      padding: 10px 0;
    }

    .dropdowntitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 500;
      cursor: pointer;
      font-family: "Work Sans", sans-serif;
    }

    .plus {
      font-size: 3rem;
      transition: transform 0.3s ease;
    }

    details[open] .plus {
      transform: rotate(45deg);
    }

    .accordion-plus p {
      padding: 10px 0;
      font-size: 1rem;
      line-height: 1.5;
      color: #333;
    }
  </style>
</section>
