---
import Dropdown from "./dropdown.astro";
import Button from "./button.astro";
---

<section id="faq" class="sections">
  <div>
    <h3>Har du spørgsmål?</h3>
    <h3 class="title">Vi har dig!</h3>
    <p>
      Er du nysgerrig på at blive frivillig, eller har du spørgsmål om vores
      arbejde? Tøv ikke med at kontakte os - vi er her for at hjælpe dig!
    </p>
    <div class="cta">
      <Button buttontext="Flere FAQs" />
    </div>
  </div>

  <div>
    <Dropdown
      title="Skal jeg have erfaring?"
      text="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam"
    />
    <Dropdown
      title="Hvilke opgaver kan jeg få?"
      text="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam"
    />
    <Dropdown
      title="Hvad indebærer arbejdet?"
      text="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam"
    />
    <Dropdown
      title="Kan jeg vælge tid og sted?"
      text="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam"
    />
    <Dropdown
      title="Er der en aldersgrænse?"
      text="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam"
    />
  </div>
</section>

<style>
  h3 {
    font-size: 45px;
    font-weight: 500;
    text-align: left;
  }

  .title {
    margin-top: -35px;
  }

  .cta {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  section {
    margin: 50px auto 110px;
  }
  @media (min-width: 750px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 50px;
      gap: 30px;
    }

    .cta {
      margin-top: 40px;
    }
  }
</style>
