---
import Nav from "./nav.astro";
import Menu from "./menu.astro";
---

<header>
  <Nav />
  <div class="hero">
    <img src="heroface.webp" alt="" />
  </div>
  <Menu />
</header>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .hero {
    background-color: #f8f8f8;
  }
</style>
