---
import Nav from "./nav.astro";
---

<div>
  <div class="navigation">
    <Nav />
  </div>
  <section class="hero">
    <img src="heronew1.webp" alt="Hero" />
  </section>
</div>

<style>
  .navigation {
    position: absolute; /* Håller den alltid högst upp */
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .hero {
    position: relative;
    background-color: #f8f8f8;
    z-index: 0; /* Håller den under nav */
  }

  .hero img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 0; /* Ser till att bilden ligger längst bak */
  }
</style>
