<section class="menu-container">
  <ul>
    <a href="#omos">Om os</a>
    <a href="#steder">Steder</a>
    <a href="#volunteer-form">Tilmeld dig</a>
    <a href="#faq">FAQ</a>
  </ul>
</section>

<style>
  .menu-container ul {
    display: flex;
    justify-content: space-between;
    padding: 15px 7%;
    margin: 0;
    background: white;
  }

  .menu-container a {
    text-decoration: none;
    font-size: 20px;
  }

  .menu-container a:hover {
    color: #0067ff;
  }
</style>
