---

---

<ul>
  <a href="">Om os</a>
  <a href="">Steder</a>
  <a href="">Tilmeld dig</a>
  <a href="">FaQ</a>
</ul>

<style>
  ul {
    display: flex;
    justify-content: space-between;
    margin: 15px 7% 15px 7%;
    position: sticky;
    top: 0;
  }

  a {
    text-decoration: none;
    font-size: 20px;
  }

  a:hover {
    color: #0067ff;
  }
</style>
