---
import Button from "./button.astro";
---

<nav>
  <div>
    <h2>WeShelter</h2>
  </div>

  <div class="burger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="menu">
    <a href="#">Få hjælp</a>
    <a href="#">Bliv frivillig</a>
    <a href="#">Om</a>
    <Button buttontext="Støt" />
  </div>
</nav>

<script src="/script/burger.js" defer></script>

<style>
  /* Grundlæggende styling */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  h2 {
    font-size: clamp(22px, 5vw, 50px);
    font-weight: 600;
    color: white;
    margin: 0;
  }

  a {
    text-decoration: none;
    margin: 20px;
    color: var(--brown);
  }

  a:hover {
    color: #0067ff;
  }

  /***********Burger menu**********/
  .burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 4000;
  }

  .burger span {
    display: block;
    width: 22px;
    height: 2px;
    background: #0067ff;
    transition: 0.3s;
    border-radius: 2px;
  }

  /* Når burgeren åbnes */
  .burger.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.open span:nth-child(2) {
    opacity: 0;
  }
  .burger.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* Menu skjult som standard */
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #f8f8f8;
    right: 0;
    top: 0;
    text-align: left;
    z-index: 3000;
  }

  /* Når burgeren har klassen .open, vis menuen */
  .menu.open {
    display: flex;
    padding: 40px;
  }

  @media (width >= 900px) {
    .burger {
      display: none;
    }

    .menu {
      display: flex;
      flex-direction: row;
      position: static;
      background: none;
      width: auto;
      padding: 0;
      align-items: center;
      gap: 10px;
    }

    .menu a {
      margin: 0 15px;
    }
  }
</style>
