---

---

<section>
  <img src="info1.png" alt="282.000 voksne danskere viser tegn på hjemløshed, psykisk sygdom eller misbrug" />
  <img src="info2.png" alt="6.400 er hjemløse" />
  <img src="info3.png" alt="Ensomhed forårsager 2.200 dødsfald årligt" />
  <img src="info4.png" alt="10% af danskerne lider af psykisk sygdom" />
</section>

<style>
  section {
    background-color: #f8f8f8;
    padding: 70px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 750px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding-top: 200px;
    }
  }
</style>
