---
import Dropdown from "./dropdown.astro";
---

<section id="steder" class="sections">
  <h2>Herberger</h2>
  <Dropdown
    title="Kollegiet Gl. Køge Landevej, Herberg"
    text="Kollegiet Gl. Køge Landevej tilbyder støtte til mænd med misbrug, psykisk sårbarhed og økonomiske problemer. Kollegiet består af et herberg med 74 pladser og et botilbud med 23 pladser. Der er mange faciliteter som café, fællesrum, bibliotek, og aktivitetslokaler samt udflugter og ferieaktiviteter. Projekt Glumsøparken hjælper beboere med at flytte ud i egen bolig og opretholde samarbejde med en social vicevært. Dette inkluderer støtte til kontakt med myndigheder, økonomiske problemer og misbrugsrehabilitering."
  />

  <Dropdown
    title="Ungeherberg Sporsløjfen "
    text="Ungeherberget Sporsløjfen er et herberg, hvor hjemløse unge mellem 18-30 år kan søge hjælp til sociale eller psykiske problemstillinger. Målgruppen på Ungeherberget Sporsløjfen er hjemløse unge mellem 18 til 30 år med sociale og/eller psykiske problemstillinger, eventuelt kombineret med et stort forbrug af rusmidler. Målgruppen er kendetegnet ved manglende kontakt til eksisterende behandlingstilbud og sociale tilbud. Boformen er et akut og midlertidig botilbud for unge. Der er plads til ca. 24 unge, som sammen med personalet er ansvarlige for både de daglige pligter og de aktiviteter, som igangsættes. Ligesom i resten af huset lægges der her vægt på medindflydelse og inddragelse af brugerne."
  />
</section>
<section class="sections">
  <h2>Aktivitets- og samværstilbud</h2>

  <Dropdown
    title="NABO center"
    text="NABO Center Amager er et aktivitets- og samværstilbud for mennesker med psykisk sårbarhed i Københavns kommune. Centeret er anonymt, og du behøver ikke visitation for at deltage. Det ligger tæt på Amagerbro station og Amagerbrogade. Her kan du møde andre med lignende udfordringer i trygge rammer og deltage i en bred vifte af aktiviteter. Der er også mulighed for frivilligt arbejde. Besøg www.nabocenter.dk for aktivitetskalenderen.NABO Center fokuserer på at skabe meningsfulde fællesskaber og netværk, hvor alle har en plads."
  />

  <Dropdown
    title="Offsides Sociale Haver"
    text="Offsides Sociale Haver er Danmarks første udendørs værested. Her er det ikke kun planter og blomster, der vokser, men også mennesker og fællesskaber. Offsides Sociale Haver er et uvisiteret aktivitets- og samværstilbud, der har eksisteret siden 1990. Haverne er inddelt i Den Sociale Blomsterhave, Den Runde Staudehave, Drysseriet og Drivhushaven. Tilsammen danner de rammen om et aktivitetsfællesskab med højt til loftet, hvor psykisk sårbare og mennesker i udsatte positioner efter bedste evne kan deltage i havearbejdet, dagens aktiviteter og workshops. Her kan du kan læse årets katalog med oversigt over aktiviteter og workshops. Formålet er at opretholde eller forbedre det enkelte menneskes personlige færdigheder og livsvilkår. Det giver øget livskvalitet. Der er således både tale om et udviklende, rehabiliterende og vedligeholdende sigte."
  />

  <Dropdown
    title="Pegasus"
    text="Pegasus er et aktivitets- og samværstilbud, der drives i samarbejde mellem WeShelter og Københavns Kommune. Her er plads til alle, og der kræves ingen visitation for at deltage. Fokus er på livsmestring, udvikling af sociale kompetencer og netværksskabelse, samt at skabe selvværd og aktivitetslyst i trygge rammer. Aktiviteterne inkluderer læseklub, filmklub, madklub, yoga, kreative grupper, ture, bordtennis, dart og turneringer med andre væresteder. Der tilbydes også NADA (øreakupunktur), massagestol og adgang til en computer. Pegasus har en café, et aktivitetslokale og et computerrum. Der kan købes et varmt måltid mad til frokost, eller man kan få en gratis kop kaffe eller te. Pegasus tilbyder også støtte og sparring til konkrete problemstillinger og henviser ved behov til andre instanser, som eksempelvis Jobcenter eller læge."
  />
</section>

<style>
  section {
    margin-top: 80px;
  }

  .sections {
    margin-bottom: 100px;
  }
</style>
