---
const { number, title, text, icon } = Astro.props;
---

<article class="card">
  <div>
    <h3 class="stepnumber">{number}</h3>
  </div>
  <div class="cardcontent">
    <h4 class="title">{title}</h4>
    <p>{text}</p>
    <img src="{icon}" alt="image" />
  </div>
</article>

<style>
  .steps-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

  .card {
    position: relative; /* Gör att .stepnumber kan placeras relativt denna */
    padding: 160px 20px;
    text-align: center;
    transition: transform 0.3s ease;
  }

  .stepnumber {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-weight: bold;
    z-index: 1;
  }

  .cardcontent {
    position: relative; /* Viktigt för att hamna över stepnumber */
    background-color: #f8f8f8;
    padding: 20px;
    z-index: 2; /* Högre än stepnumber */
  }

  .card:hover .stepnumber {
    transform: translate(-50%, -70%);
  }

  h3 {
    font-size: 100px;
    margin-bottom: -50px;
  }

  h4 {
    font-size: 20px;
  }
</style>
