---

---

<section>
  <h2>Vores værdier</h2>
  <div class="values">
    <h3 class="samarbejde">Samarbejde</h3>
    <p>Hos WeShelter tror vi på, at de bedste løsninger skabes i fællesskab. Sammen med frivillige, organisationer og offentlige instanser styrker vi indsatsen for hjemløse og socialt udsatte.</p>
    <h3 class="ligeværd">Ligeværd</h3>
    <p>Vi mener, at alle mennesker har ret til et værdigt liv. De møder hjemløse og udsatte med respekt og omsorg og arbejder for at give dem den støtte og anerkendelse, de fortjener.</p>
    <h3 class="ambition">Ambition</h3>
    <p>Vi har en vision om at skabe varige forandringer. De arbejder målrettet for at udvikle nye initiativer og forbedre eksisterende indsatser, så de kan hjælpe flest muligt på den mest effektive måde.</p>
  </div>
</section>

<style>
  .samarbejde,
  .ligeværd,
  .ambition {
    width: 220px;
    border-radius: 50px;
    padding: 10px 10px 15px 10px;
    height: 25px;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    font-size: 25px;
  }

  .samarbejde {
    background-color: #d2ddfd;
  }

  .ligeværd {
    background-color: #1e824c;
    color: white;
  }

  .ambition {
    background-color: #391a05;
    color: white;
  }

  h2,
  h3 {
    text-align: center;
  }

  section {
    margin-top: 80px;
  }

  @media (min-width: 750px) {
    .values {
      display: grid;
      grid-template-columns: 1fr 4fr;
      max-width: 1100px;
      margin: 0 auto;
      gap: 50px;
    }

    .samarbejde,
    .ligeværd,
    .ambition {
      padding: 20px 10px 15px 10px;
      height: 35px;
    }
  }
</style>
