:root {
  --brown: #391a05;
  --blue: #0067ff;
  --font-primary: "Work Sans", sans-serif;
  --font-secondary: "Georgia", serif;
}

body {
  margin: 0 auto;
  max-width: 1500px;
}

h1,
h2,
h3,
a,
a:visited {
  font-family: var(--font-primary);
  color: var(--brown);
}

h1,
h2 {
  font-weight: 500;
}

p {
  font-family: var(--font-secondary);
  color: var(--brown);
}
